/Makefile.local
/environment.sh
/xcvu3p.tar.gz
/xcvu3p/
/benchmarks/
/dependencies/
/PathFinderFile
/pathfinder
/interchange_to_csr
/device_to_routing_graph
/routes_to_phys
/*.devicegraph
/*.pathfinder-work*
.DS_Store
__pycache__/
*.pyc
tests/
